/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {  
  --background-image: url('../images/cover-image-dark.png');
  --background-position: center;
  --background-attachment: fixed;
}