/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --theme_switch-text-color: #353430;
  --theme-switch-border-color: #353430;
  --theme_switch-hover-border-color: #32312D66;
  --theme-switch-active-border-color: #353430;
  --background-image: url('../images/cover-image-light.png');
  --header__text-color: #FFC2E6;
  --header__shadow-color: #FF8DCB;
  --corners__color: #353430;
  --header__decore-color: none;
  --header__decore-status: none;
  --page__color: #FFF1F7;
  --page__description-background-color: #FF8DCB;
  --page__heading-color-text: #353430;
  --page__subtitle-text: #353430;
  --link__shadow-color: #FF8DCB;
  --link__shadow-focus-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --theme_switch-text-color: #353430;
    --theme-switch-border-color: #353430;
    --theme_switch-hover-border-color: #32312D66;
    --background-image: none;
    --header__text-color: #FFC2E6;
    --header__shadow-color: #FF8DCB;
    --corners__color: #353430;
    --header__decore-color: none;
    --header__decore-status: none;
    --page__color: #FFF1F7;
    --page__description-background-color: #FF8DCB;
    --page__heading-color-text: #353430;
    --page__subtitle-text: #353430;
    --link__shadow-color: #FF8DCB;
    --link__shadow-focus-color: #353430;
  }
}