.page {
  background-color: var(--page__color);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-height: 668px;
  height: 100vh;
  align-items: center;
}

.decore__corners::after,
.decore__corners::before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
}

.decore__corners::before {
  border-top: 1px solid var(--corners__color);
  border-right: 1px solid var(--corners__color);
  top: 10px;
  right: 10px;
}

.decore__corners::after {
  border-bottom: 1px solid var(--corners__color);
  border-left: 1px solid var(--corners__color);
  bottom: 10px;
  left: 10px;
}

.header__decore {
  display: var(--header__decore-status);
  position: absolute;
  color: var(--header__decore-color);
  text-transform: uppercase;
  font-size: 18px;
  top: 10px;
  right: 38px;
}

.header__decore::after {
  position: absolute;
  content: "";
  background-color: var(--header__decore-color);
  border-radius: 50px;
  box-shadow: 0px 0px 4px 2px var(--header__decore-color);
  width: 9px;
  height: 9px;
  display: inline-block;
  top: 8px;
  left: 43px;
}

.cover_title {
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  letter-spacing: 0%;
  color: var(--header__text-color);
  text-shadow: 4px 4px var(--header__shadow-color);
  padding-left: 10px;
}

.cover_description-container {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.cover_description {
  font-weight: 700;
  color: var(--page__description-text-color);
  background-color: var(--page__description-background-color);
}

.header__theme-menu {
  justify-self: end;
  padding-right: 10px;
  padding-top: 5px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--theme_switch-text-color);
  padding-left: 12.5px;
  padding-right: 12.5px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--theme-switch-active-border-color);
}

.header__theme-menu-button:hover {
  outline: none;
  border: 1px solid var(--theme_switch-hover-border-color);
}

.header__theme-menu-button:focus-visible {
  outline : none;
  border-bottom: 1px solid var(--theme-switch-border-color);
}

.text {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  line-height: 23.4px;
}

.section__main-title-container {
  padding-bottom: 20px;
}

.section__main-title {
  font-weight: 700;
  color: var(--page__heading-color-text);
}

.card__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.concentration-section__description-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__description-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__title {
  font-weight: 700;
  color: var(--page__description-text-color);
  background-color: var(--page__description-background-color);
}

.section__title-regularbold-container {
  padding-bottom: 10px;
  padding-top: 20px;
}

.section__title-regularbold {
  font-weight: 400;
  background-color: var(--page__description-background-color);
  color: var(--page__description-text-color);
}

.section__description {
  font-weight: 400;
  color: var(--page__subtitle-text);
}

.image__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.main__image {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}

.link_shadow {
  text-shadow: 2px 2px 0px var(--link__shadow-color);
  text-decoration: none;
}

.link__hover:hover {
  border-bottom: 1px solid var(--link__shadow-focus-color);
}

.footer__title_container {
  position:relative;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
}

.footer__title_style {
  color: var(--header__text-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  text-shadow: 2px 2px var(--header__shadow-color);
}

.section__content {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 50px;
}

.section__indent {
  padding-top: 40px;
} 

.title-margin {
  margin-bottom: 10px;
}

.link_shadow:focus-visible {
  outline: 1px solid var(--link__shadow-focus-color);
}

.footer_styles {
  margin-top: 40px;
}

@media (width >= 768px) {
  .header {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    min-height: 1024px;
  }

  .header__theme-menu {
    align-self: start;
    padding-top: 192px;
    justify-self: end;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 10px;
  }

  .header__decore {
    top: 23px;
    right: 49px;
  }

  .header__decore::after {
    top: 6px;
  }

  .decore__corners::before {
    top: 20px;
    right: 20px;
  }

  .decore__corners::after {
    bottom: 20px;
    left: 20px;
  }

  .cover_title {
    justify-self: start;
    padding: 0px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .cover_description-container {
    width: 100%;
    max-width: 394px;
    justify-self: end;
    align-self: end;
    padding-bottom: 183px;
    padding-right: 20px;
  }

  .section__content {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 80px;
  }

  .section__main-title-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 20px;
  }

  .section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .grid__section-description-container {
    grid-column: 2/4;
    padding-left: 5px;
  }

  .section__main-title {
    align-self: start;
  }

  .image__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .sunset__image,
  .street__image {
    grid-column: span 2;
  }

  .ice-cream__image,
  .tape__image {
    grid-row: span 2;
  }

  .section__indent {
    padding-top: 60px;
  }

  .title-margin {
    margin-bottom: 20px;
  }
  
  .footer_styles {
    margin-top: 60px;
  }

  .footer__title_container {
    min-height: 1024px;
  }

  .footer__title_style {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }

  .cover_description-container {
    align-self: end;
    padding-bottom: 132px;
    min-width: 521px;
  }

  .section__main-title-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 20px;
  }

  .concentration-section__description-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto-fill;
    gap: 20px;
  }

  .grid__section-description-container {
    padding-left: 0;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    padding-right: 0;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
    padding-right: 0;
    padding-top: 20px;
  }

  .header__decore {
    top: 22px;
    right: 48px;
  }

  .header__decore::after {
    top: 7px;
  }

  .decore__corners::before {
    top: 20px;
    right: 20px;
  }

  .decore__corners::after {
    bottom: 20px;
    left: 20px;
  }

  .footer__title_container {
    min-height: 768px;
  }
}