/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--background-image);
  background-position: var(--background-position);
  background-attachment: var(--background-attachment);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  block-size: 668px;
  inline-size: 375px;
  justify-items: end;
  align-items: center;
}

.cover_text {
}

.cover_title {
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: #db00ff;
  text-shadow: 4px 4px #ff0070;
}

.cover_description {
  font-weight: 700;
  font-style: bold;
  color: #000028;
  background-color: #FF0070;

}

.text {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  line-height: 23.4px;
}

.section__main-title {
  font-weight: 700;
  font-style: bold;
  color: #FF0070;
}

.section__title {
  font-weight: 700;
  font-style: bold;
  color: #000028;
  background-color: #ff0070;
}

.section__title-regularbold {
  font-weight: 400;
  background-color: #ff0070;
  color: #000028;
}

.section__description {
  font-weight: 400;
  color: #f1b2ce;
}

.main__image {
  width: 355px;
}

.link_shadow {
  text-shadow: 2px 2px 0px #FF0070;
  text-decoration: none;
}